<form method="post" action="{{ path('sponsor_delete', {'id': sponsor.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce sponsor ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsor.id) }}">
    <button class="btn error btn-delete shadow-1 primary rounded-4 btn-large primary">Supprimer</button>
</form>
