{% extends 'base.html.twig' %}

{% block title %}New CategorieJeu{% endblock %}

{% block body %}
    <h1>Ajout d'une nouvelle catégorie</h1>

    {{ include('categorie_jeu/_form.html.twig') }}

{% endblock %}
